.toast {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Noto Sans";
  display: inline-block;
  color: white;
}

.true {
  background-color: #22C55E;
}

.false {
  background-color: #EF4444;
}

button {
  margin: 20px;
}

