<div [class]="'toast ' + readingStatus">{{readingStatus === 'READING' ? 'EM FUNCIONAMENTO' : 'PAUSADO'}}</div>
<div class="flex justify-content-end">
  <button pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-rounded p-button-text mb-3"
          (click)="openUserDialog()"></button>
</div>
<p-table [value]="points" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Category</th>
      <th>Date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-person>
    <tr>
      <td><span [class]="'status-toast ' + person.entryType"> {{person.entryType}} </span></td>
      <td>{{person.name}}</td>
      <td>{{person.type}}</td>
      <td>{{person.time | date:'medium'}}</td>
    </tr>
  </ng-template>
</p-table>
