<!--<div class="parent">-->
<!--  &lt;!&ndash;  <div class="table">&ndash;&gt;-->
<!--  &lt;!&ndash;    <p-card>&ndash;&gt;-->
<!--  &lt;!&ndash;      <app-point-table></app-point-table>&ndash;&gt;-->
<!--  &lt;!&ndash;    </p-card>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->

<!--  &lt;!&ndash;  <div class="graph">&ndash;&gt;-->
<!--  &lt;!&ndash;    <p-card>&ndash;&gt;-->
<!--  &lt;!&ndash;      <p-chart #chart type="bar" [data]="data"></p-chart>&ndash;&gt;-->
<!--  &lt;!&ndash;    </p-card>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
<p-card>
  <app-point-table></app-point-table>
</p-card>
<p-toast></p-toast>
